* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: 400; */
}

html,
body {
  width: 100%;
  height: 90%;
  padding: 0px;
  margin: 0px;
}

.container {
  padding: 8px;
  width: 80%;
  box-sizing: border-box;
  height: 100%;
}

.log-output {
  display: block;
  width: 80%;
  box-sizing: border-box;
  height: 40%;
}

#log {
  width: 80%;
  height: 100%;
  padding: 4px;
  font-size: 1.5em;
  margin: 0 auto;
}

.contract-actions {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.action-items {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
}

.action-item {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px;
  border-radius: 5px;
}

.action-item button {
  background: #bbdefb;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  padding: 4px;
  font-weight: 400;
  text-transform: capitalize;
}

.action-item input {
  font-size: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 4px;
}

.action-item input.address {
  width: 460px;
}
